<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    a {
        text-decoration: none;
    }
    p {
    margin: 1.5rem 0;
    }
    .formated {
    white-space: pre-wrap;
    }
    li {
        margin: 1rem 0;
    }
    </style>
    <title>{{title}}</title>
</head>
<body>
<p>Hello <strong>{{firstname}}</strong>,</p>
<p><strong>Congrats! You just started your Basic Subscription</strong></p>
    
<p>
Thank you for your interest in the SHEBIRTH Basic Plan. We appreciate your decision in choosing and trusting us in the journey of you Pregnancy and we will help you  taking the time to test out our tools  pleasing the birth experience
</p>
<p>
Here are some additional resources that you can use to get the most out of SHEBIRTH,
</p>
<ul>
    <li>Daily Tracker</li>
    <li>Scan Tracker</li>
    <li>Complication detection</li>
    <li>Virtual buddy</li>
    <li>Closely monitored with your doctor</li>
</ul>
<p>
If you have any questions our support team is available to help feel free to contact us.
</p>
<p class="formated"><strong>
Regards,
Swetha R,
CEO-SHEBIRTH LLP,
2ND Floor Government Polytechnic College,
Kerala Startup Mission,
Palakkad
+91 7022423264
</b>
</p>
</body>
</html>