<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      a {
        text-decoration: none;
      }
      p {
        margin: 1.5rem 0;
      }
      .formated {
        white-space: pre-wrap;
      }
    </style>
    <title>{{title}}</title>
  </head>
<body>
<p>Hi <strong>{{firstname}},</strong></p>


<p><strong>Greetings of the Day!!!</strong></p>
<p><strong>Congrats! Welcome to SHEBIRTH </strong></p>
<p><strong>You just started your journey through pregnancy with SHEBIRTH.</strong></p>


<p>{{firstname}}! Your free trial subscription starts today.</p>
<p>
Carrying is not an easy task, but there is no better place than SHEBIRTH. We will have a personal human touch in handholding you everything from Antenatal to postnatal.So you can focus on what you love.
</p>

<p>Want to access more features please have a look at our premium plans.</p>

<a href="https://shebirth.herokuapp.com/" target="_blank">premium plans</a>
<p>
  <strong>Or contact us </strong>
</p>
<p class="formated"><strong>
Regards,
Swetha R,
CEO-SHEBIRTH LLP,
2ND Floor Government Polytechnic College,
Kerala Startup Mission,
Palakkad
+91 7022423264
</strong>
</p>

  </body>
</html>
