<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    a {
        text-decoration: none;
    }
    p {
    margin: 1.5rem 0;
    }
    .formated {
    white-space: pre-wrap;
    }
    </style>
    <title>{{title}}</title>
</head>
<body>
<p>Hi <strong>{{firstname}},</strong></p>
    
<p>
You haven’t updated your daily tracker detail for the past 7 days.
</p>
<p>
Do update the Daily Tracker dashboard, if not the dashboard will be deactivated. 
</p>
<p>
OH NO!!! If you want to continue using SHEBIRTH , please update your daily tracker details or else contact our SalesTeam. +91 7022423264
</p>
<p class="formated"><strong>
Regards,
Swetha R,
CEO-SHEBIRTH LLP,
2ND Floor Government Polytechnic College,
Kerala Startup Mission,
Palakkad
+91 7022423264
</ster>
</p>
</body>
</html>