<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    a {
        text-decoration: none;
    }
    p {
    margin: 1.5rem 0;
    }
    .formated {
    white-space: pre-wrap;
    }
    li {
        margin: 1rem 0;
    }
    </style>
    <title>{{title}}</title>
</head>
<body>
<p>Hello <strong>{{firstname}}</strong>,</p>
<p><strong>Your Appointment is Successfully Scheduled.</strong></p>
    
<p>
    Thanks for choosing SHEBIRTH. You’ve just taken an exciting step in your wellness journey, and we’re so glad to be a part of it.
</p>
<p>
    Your appointment is booked for {{time}} on {{date}}. If, for any reason, you can’t make the appointment, please let us know as soon as possible either by giving us a call on +91 7022423264 or update your appointment details [Link to Booking].
</p>

<p>
    Please take a moment to read your <a href="https://shebirth.herokuapp.com/">Cancellation Policy</a> as well as our Important Information page if you are a new client.
</p>
<p class="formated"><strong>
Regards,
Swetha R,
CEO-SHEBIRTH LLP,
2ND Floor Government Polytechnic College,
Kerala Startup Mission,
Palakkad
+91 7022423264
</strong>
</p>
</body>
</html>