<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    a {
        text-decoration: none;
    }
    p {
    margin: 1.5rem 0;
    }
    .formated {
    white-space: pre-wrap;
    }
    </style>
    <title>{{title}}</title>
</head>
<body>
<p>Hi <strong>{{firstname}}</strong>,</p>
<p> Your free trial expires tomorrow!!!</p>
    
<p>
Your account will be deactivated soon and your doctor and virtual buddy will not be able to support you in your pregnancy anymore.
</p>
<p>
OH NO!!!! We want you to have a Normal Birth and we also want you to support you in bringing the bundle of joy with those tiny organs safely to this real world, choose a subscription now. <a href="https://shebirth.herokuapp.com/">Choose a subscription</a>
</p>
<p>
Our customers tell us that SHEBIRTH gives them the control, flexibility, and responsive support they need and actually makes them come to the journey of pregnancy. I'd love to see you and your family experience those wins too!
</p>
<p class="formated"><strong>
Regards,
Swetha R,
CEO-SHEBIRTH LLP,
2ND Floor Government Polytechnic College,
Kerala Startup Mission,
Palakkad
+91 7022423264
</strong>
</p>
</body>
</html>