<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    a {
        text-decoration: none;
    }
    p {
    margin: 1.5rem 0;
    }
    .formated {
    white-space: pre-wrap;
    }
    li {
        margin: 1rem 0;
    }
    </style>
    <title>{{title}}</title>
</head>
<body>
<p>{{greetings}} <strong>Dr {{firstname}}</strong>,</p>
    
<p>
    Just reaching out to confirm that your appointment with {{clientName}} on {{date}}, at {{time}} has been approved.Please make the changes in <strong>SHEBIRTH</strong> portal if you would like to reschedule the appointment.
</p>

<p class="formated"><strong>
Regards,
Swetha R,
CEO-SHEBIRTH LLP,
2ND Floor Government Polytechnic College,
Kerala Startup Mission,
Palakkad
+91 7022423264
</strong>
</p>
</body>
</html>