<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    a {
        text-decoration: none;
    }
    p {
    margin: 1.5rem 0;
    }
    .formated {
    white-space: pre-wrap;
    }
    li {
        margin: 1rem 0;
    }
    </style>
    <title>{{title}}</title>
</head>
<body>
<p>Hi <b>Dr {{firstname}}</b>,</p>
    
<p>
    We will be having a great month ahead, the number of Patients has been increasing day by day. Please have a look at your dashboard for more details regarding your Patients with SHEBIRTH.
</p>
<a href="">[portal link]</a>

<p class="formated"><b>
Regards,
<br>
Swetha R,
CEO-SHEBIRTH LLP,
2ND Floor Government Polytechnic College,
Kerala Startup Mission,
Palakkad
+91 7022423264
</b>
</p>
</body>
</html>